
a {
  color:orchid;
  text-decoration: none;
}

@media(max-width:800px){
    div{
        display:none;
        }
}


h1{
    font-size: 45px;
    text-align: center;
    border: 5px dashed gray;
    margin: 0px;
    padding: 10px;
}

div{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#grid_in{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0px;
    margin: 0px;
    border-right: 5px dashed gray;
}

#grid_in h3{
    border-bottom: 5px dashed gray;
    margin: 0px;
    padding: 20px;
}

#grid_in p{
    margin: 0px;
    padding: 20px;
    border-left: 5px dashed gray;
    border-bottom: 5px dashed gray;
}

#grid_out{
    display: grid;
}

#grid_out li{
    font-size: 20px;
    padding-left: 0px;
}

#grid_out ol{
    border-right: 5px dashed gray;
    border-left: 5px dashed gray;
    border-bottom: 5px dashed gray;
    margin: 0px;
    padding: 20px;
}
