@media(max-width:800px){
    #grid_total{
        display: block;
        border: none;
    }
    #grid_body{
        display: block;
        border: none;
    }
    #grid_ol{
        display: block;
        border: none;
    }
    #grid_content{
        display: block;
        border: none;
    }
}

body{
    margin: 0px;
}
#grid_total{
    display: grid;
    grid-template-rows: 100px 1fr;
}

#grid_header{
    text-align: center;
    border: 5px solid gray;
}

#grid_body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: left;
    border: 5px solid pink;
}

#grid_ol{
    border: 5px solid red;
}

#grid_content{
    border: 5px solid blue;
}
